{% load static %}
<html>
    <head>
        <title>Lucy's Site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/blog/">Lucy's Site</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                <p><a href="{% url 'post_list' %}">Click here for DjangoGirl Blog</a></p>
                <p><a href="{% url 'cat_home' %}">Click here for Cats</a></p>
                </div>
            </div>
        </div>
    </body>
</html>