


{% extends 'cats/cat_base.html' %}

{% block content %}
    <h2><a href="{% url 'cat_detail' pk=cat.pk %}">Cat Name: {{ cat.name }}</a></h2>    
    {% if play %}
        <p>You played with the cat!</p>
    {% endif %}
    {% if pet %}
        <p>You petted the cat!</p>
    {% endif %}
    {% if feed %}
        <p>You fed the cat!</p>
    {% endif %}
    <p>Current status: {{cat.name}} is {{cat.hunger_status}} ({{cat.hunger}}) and {{cat.happiness_status}} ({{cat.happiness}})</p>
    <p><a href="{% url 'cat_detail' pk=cat.pk %}">Click to go back to cat</a></p>
{% endblock %}