
{% extends 'cats/cat_base.html' %}

{% block content %}
    <h2><a href="{% url 'cat_detail' pk=cat.pk %}">Cat Name: {{ cat.name }}</a></h2>
    <p>Owner name: {{ cat.owner }}</p>
    <p>Description: {{ cat.description }}</p>
    <p>Status: This cat is {{ cat.hunger_status }} ({{ cat.hunger }}) and {{ cat.happiness_status }} ({{ cat.happiness }})</p>
    <p>Actions:</p>
    <p><a href="{% url 'cat_interact' pk=cat.pk action=1%}">Play</a> or <a href="{% url 'cat_interact' pk=cat.pk action=2%}">Pet</a> or <a href="{% url 'cat_interact' pk=cat.pk action=3%}">Feed</a></p>
    <p><a href="{% url 'cat_list' %}">Click to go back to list</a></p>
{% endblock %}